@model SinExWebApp20444290.ViewModels.FeeViewModel
@{
    ViewBag.Title = "Ship";
}
<h2>Ship</h2>
<br />
<br />

<table style="width: 100%">
    <tr>
        <td>
            <div class="form-group">
                @Html.LabelFor(model => model.param.origins, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Model.origin
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                @Html.LabelFor(model => model.param.destinations, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Model.destination
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <br/>
            </div>
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.param.packageTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.param.sizes)
        </th>
        <th>
            @Html.DisplayName("Total Cost")
        </th>
    </tr>
    @foreach (var package in Model.packages)
    {
        <tr>
            <td>
                @package.packageType
            </td>
            <td>
                @package.size
            </td>
            <td>
                @Model.currencyCode &nbsp;@package.fee
            </td>
        </tr>

    }
</table>


<p>
    <br />
    @Html.ActionLink("Back", "Index")
</p>

<p>
    <br />
    @Html.ActionLink("Confirm shipment", "Index")
</p>
